<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  </head>
  <body>
    <div id="app" v-cloak>
      <div>integer: {{ integer }}
        <input v-model="integer"></input>
      </div>
      <div>str: {{ str }} </div>
      <el-button v-on:click="Inc">Increase</el-button>
      <el-button v-on:click="Repeat">Repeat</el-button>
      <el-button v-on:click="Reset">Reset</el-button>
    </div>
    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/javascript" src="basic.js"></script>
</body>
</html>
